/* app/globals.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
header {
  background-color: #29a9e0;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
header div {
  margin: 5px;
}
nav a {
  margin-left: 15px;
  color: rgb(1, 0, 1);
  text-decoration: none;
}
.hero {
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  align-items: center;
  background: #f9fdff;
}
.hero img {
  max-width: 400px;
  margin-left: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.hero-text {
  flex: 1;
  max-width: 500px;
}
.hero-text h1 {
  font-size: 32px;
}
.buttons a {
  display: inline-block;
  margin-right: 10px;
  padding: 10px 15px;
  text-decoration: none;
  background: #007bff;
  color: white;
  border-radius: 5px;
}
footer {
  text-align: center;
  padding: 20px;
  background-color: #f2f2f2;
}